#nav {
  background-color:rgba(0,0,0,0.1);
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
 justify-content: space-between;
}

#navlinks {
  margin-right: 10px;
  float: right;
  text-decoration: none;
}

#navlinks a {
  color: black;
  font-size: large;
  margin: 12px;
  text-decoration: none;
}
body{
  background-image: url("../images/covi.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;

}

.form-container
{
  border: 2px solid #fff;
  
 
  -webkit-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
  box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
}

